html {
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*[data-drawer=true] {
  z-index: 10;
}
