@import "~bourbon/core/bourbon";

$top-values: (1: 50, 2: 54, 3: 57, 4: 58, 5: 57, 6: 54, 7: 50, 8: 45);
$left-values: (1: 50, 2: 45, 3: 39, 4: 32, 5: 25, 6: 19, 7: 14, 8: 10);

.Spinner {
  transform: translate(-50%,-50%);
@include position(absolute, 50% null null 50%);

&__BulletContainer {
   display: inline-block;
   position: relative;
 @include size(64px);
 }

&__Bullet {
   animation: spinning-bullet 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   transform-origin: 32px 32px;
   background-color: var(--primary);

&:after {
   background: var(--primary);
   border-radius: 50%;
   content: " ";
   display: block;
   margin: -3px 0 0 -3px;
   position: absolute;
 @include size(6px);
 }

@for $i from 1 through 8 {
&:nth-child(#{$i}) {
  animation-delay: -1s * 0.036 * $i;
}

&:nth-child(#{$i}):after {
   top: map-get($top-values, $i) + px;
   left: map-get($left-values, $i) + px;
 }
}
}
}

@keyframes spinning-bullet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
