root = true

[*]
charset = utf-8
end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 8

[{go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab

[*.{yml,yaml,tpl,json}]
indent_size = 2

[*.{js,jsx,ts,tsx}]
indent_size = 2
