global:
  imageRegistry: ""
  imageTag: ""
  tls:
    organization:
      rootCertificatePEM: ""
    internal:
      rootCertificatePEM: ""

image:
  registry: docker.io
  repository: nlxio/outway
  tag: ""
  pullPolicy: IfNotPresent
  pullSecrets: []

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

config:
  logType: live
  logLevel: info
  directoryInspectionHostname: ""
  authorizationService:
    enabled: false
    url: ""
  managementAPI:
    address: ""

transactionLog:
  enabled: true
  hostname: ""
  database: ""
  port: 5432
  username: ""
  password: ""
  sslMode: "require"
  existingSecret: ""

tls:
  organization:
    rootCertificatePEM: ""
    certificatePEM: ""
    keyPEM: ""
    existingSecret: ""
  internal:
    rootCertificatePEM: ""
    certificatePEM: ""
    keyPEM: ""
    existingSecret: ""

https:
  enabled: false
  keyPEM: ""
  certificatePEM: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

securityContext: {}

podSecurityContext:
  fsGroup: 1001

service:
  type: ClusterIP
  httpPort: 80
  httpsPort: 443

resources: {}

nodeSelector: {}

affinity: {}

tolerations: []
