<html>
  <head>
    <title>Sites ACC</title>
  </head>
  <body>
  <h1>Directory</h1>
  <ul>
    <li>
      <a href="https://certportal.acc.nlx.io">Certportal</a>
    </li>
    <li>
      <a href="https://directory.acc.nlx.io">Directory</a>
    </li>
    <li>
      <a href="https://docs.acc.nlx.io">Docs</a>
    </li>
  </ul>

  <h1>Gemeente Stijns</h1>
  <ul>
    <li>
      <a href="https://management.acc.gemeentestijns.nl">NLX Management</a>
    </li>
    <li>
      <a href="https://parkeerrechten.acc.gemeentestijns.nl">Parkeerrechten</a>
    </li>
  </ul>

  <h1>Rijksdienst voor Realistische Demo's</h1>
  <ul>
    <li>
      <a href="https://management.acc.rvrd.nl">NLX Management</a>
    </li>
  </ul>

  <h1>Vergunningsoftware BV</h1>
  <ul>
    <li>
      <a href="https://management.acc.vergunningsoftware.nl">NLX Management</a>
    </li>
  </ul>
  </body>
</html>
