<html>
  <h1>Directory</h1>
  <li>
      <a href="https://certportal.acc.nlx.io">Certportal</a>
  </li>
  <li>
      <a href="https://directory.acc.nlx.io">Directory</a>
  </li>
  <li>
      <a href="https://docs.acc.nlx.io">Docs</a>
  </li>
  <h1>Gemeente Stijns</h1>
  <li>
      <a href="https://management.acc.gemeentestijns.nl">NLX Management</a>
  </li>
  <li>
    <a href="https://parkeerrechten.acc.gemeentestijns.nl">Parkeerrechten</a>
  </li>
  <h1>Rijksdienst voor Realistische Demo's</h1>
  <li>
    <a href="https://management.acc.rvrd.nl">NLX Management</a>
  </li>
  <h1>Vergunningsoftware BV</h1>
  <li>
      <a href="https://management.acc.vergunningsoftware.nl">NLX Management</a>
  </li>
</html>
