global:
  imageRegistry: ""
  imageTag: ""

image:
  registry: docker.io
  repository: nlxio/ca-cfssl-unsafe
  tag: ""
  pullPolicy: IfNotPresent
  pullSecrets: []

replicaCount: 1

# Unsafe CA specific settings
config:
  existingSecret: ""

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8888

resources: {}

nodeSelector: {}

affinity: {}

tolerations: []
