apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "rvrd.fullname" . }}-nlxctl
  labels:
    {{- include "rvrd.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "2"
    helm.sh/hook-delete-policy: "before-hook-creation,hook-succeeded"
spec:
  template:
    metadata:
      labels:
        {{- include "rvrd.selectorLabels" . | nindent 8 }}
    spec:
      restartPolicy: OnFailure
      containers:
        - name: nlxctl
          image: {{ template "rvrd.nlxctl.image" . }}
          imagePullPolicy: {{ .Values.nlxctl.image.pullPolicy }}
          command: ["/bin/sh"]
          args:
            - "-exc"
            - |
                nlxctl init --address "${MANAGEMENT_API_ADDRESS}" --cert /certificate/tls.crt --key /certificate/tls.key --ca /config/root.pem
                echo "${SERVICE_KENTEKENS_JSON}" > /tmp/service-kentekens.json
                if ! nlxctl service list | grep -q $SERVICE_NAME_KENTEKENS; then
                    nlxctl service create --config /tmp/service-kentekens.json
                fi
                echo "${SERVICE_PERSONEN_JSON}" > /tmp/service-personen.json
                if ! nlxctl service list | grep -q $SERVICE_NAME_PERSONEN; then
                    nlxctl service create --config /tmp/service-personen.json
                fi
                nlxctl service list
          env:
            - name: SERVICE_NAME_KENTEKENS
              value: {{ .Values.managementAPI.serviceKentekens.name | quote }}
            - name: SERVICE_NAME_PERSONEN
              value: {{ .Values.managementAPI.servicePersonen.name | quote }}
            - name: SERVICE_KENTEKENS_JSON
              value: {{ .Values.managementAPI.serviceKentekens | toJson | quote }}
            - name: SERVICE_PERSONEN_JSON
              value: {{ .Values.managementAPI.servicePersonen | toJson | quote }}
            - name: MANAGEMENT_API_ADDRESS
              value: {{ .Values.managementAPI.address | quote }}
          volumeMounts:
            - name: certificate
              mountPath: /certificate
            - name: config
              mountPath: /config
      volumes:
        - name: certificate
          secret:
            secretName: {{ .Values.nlxctl.tls.existingSecret }}
        - name: config
          configMap:
            name: {{ template "rvrd.fullname" . }}-nlxctl
