


.form-switch {
  position: relative;
  display: flex;
  padding-left: 3rem;
}

.form-switch-label {
  display: block;
  padding-bottom: inherit;
  margin-bottom: inherit;
  /*font-size: .875rem;
  font-weight: 600;
  color: #adb5bd;
  white-space: nowrap;*/
  height: 2rem;
  top: 0;
  /*padding-top: 0.25rem;*/
}


.form-switch-label:before {
  width: 2.7rem;
  /*border: 0;*/
  border-radius: 1rem;
  /*background-color: #ced4da;
  transition: background-color .15s cubic-bezier(.4,0,.2,1);
  */
}

.form-switch-label:after, .form-switch-label:before {
  /*content: "";
  position: absolute;
  display: block;*/
  height: 1.5rem;
  top: 0;
  /*left: 0;
  pointer-events: none;
  */
}

.form-switch-label:after{
  /*content: "";
  position: absolute;
  display: block;*/
  width: 1.5rem;
}

.form-switch-input:checked~.form-switch-label:after {
  transform: translateX(1.25rem);
}