<html>
  <h1>Directory</h1>
    <li>
      <a href="https://certportal-{{.EnvironmentSlugWithDomain}}">Certportal</a>
    </li>
    <li>
      <a href="https://directory-{{.EnvironmentSlugWithDomain}}">Directory</a>
    </li>
    <li>
      <a href="https://docs-{{.EnvironmentSlugWithDomain}}">Docs</a>
    </li>
    <li>
      <a href="https://insight-{{.EnvironmentSlugWithDomain}}">Insight</a>
    </li>
  <h1>Organization Haarlem</h1>
    <li>
      <a href="https://parkeren-haarlem-{{.EnvironmentSlugWithDomain}}">Parkeervergunning applicatie</a>
    </li>
    <li>
      <a href="https://nlx-management-haarlem-{{.EnvironmentSlugWithDomain}}">NLX Management</a>
   </li>
  <h1>Organization RDW</h1>
    <li>
      <a href="https://nlx-management-rdw-{{.EnvironmentSlugWithDomain}}">NLX Management</a>
    </li>
  <h1>Organization Saas Org X</h1>
  <li>
    <a href="https://nlx-management-saas-org-x-{{.EnvironmentSlugWithDomain}}">NLX Management</a>
  </li>  
</html>
