<html>
  <h1>Directory</h1>
    <li>
      <a href="https://certportal-nlx-directory-{{.EnvironmentSlugWithDomain}}">Certportal</a>
    </li>
    <li>
      <a href="https://directory-nlx-directory-{{.EnvironmentSlugWithDomain}}">Directory</a>
    </li>
    <li>
      <a href="https://docs-nlx-directory-{{.EnvironmentSlugWithDomain}}">Docs</a>
    </li>
    <li>
      <a href="https://insight-nlx-directory-{{.EnvironmentSlugWithDomain}}">Insight</a>
    </li>
  <h1>Organization Haarlem</h1>
    <li>
      <a href="https://application-nlx-haarlem-{{.EnvironmentSlugWithDomain}}">Application</a>
    </li>
  <h1>Organization RDW</h1>
    <li>
      <a href="https://management-nlx-rdw-{{.EnvironmentSlugWithDomain}}">Management</a>
    </li>
</html>
