.ErrorPage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 2px;
    z-index: 1200;
}
