<html>
  <h1>Directory</h1>
  <li>
      <a href="https://certportal-{{.ReviewSlugWithDomain}}">Certportal</a>
  </li>
  <li>
      <a href="https://directory-{{.ReviewSlugWithDomain}}">Directory</a>
  </li>
  <li>
      <a href="https://docs-{{.ReviewSlugWithDomain}}">Docs</a>
  </li>
  <li>
      <a href="https://insight-{{.ReviewSlugWithDomain}}">Insight</a>
  </li>
  <h1>Gemeente Stijns</h1>
  <li>
      <a href="https://parkeren-gemeente-stijns-{{.ReviewSlugWithDomain}}">Parkeervergunning applicatie</a>
  </li>
  <li>
      <a href="https://nlx-management-gemeente-stijns-{{.ReviewSlugWithDomain}}">NLX Management</a>
  </li>
  <h1>Rijksdienst voor Realistische Demo's</h1>
  <li>
    <a href="https://nlx-management-rvrd-{{.ReviewSlugWithDomain}}">NLX Management</a>
  </li>
  <h1>Vergunningsoftware BV</h1>
  <li>
      <a href="https://nlx-management-vgs-bv-{{.ReviewSlugWithDomain}}">NLX Management</a>
  </li>
</html>
