<html>
  <h1>Directory</h1>
  <li>
      <a href="https://certportal-{{.EnvironmentSlugWithDomain}}">Certportal</a>
  </li>
  <li>
      <a href="https://directory-{{.EnvironmentSlugWithDomain}}">Directory</a>
  </li>
  <li>
      <a href="https://docs-{{.EnvironmentSlugWithDomain}}">Docs</a>
  </li>
  <li>
      <a href="https://insight-{{.EnvironmentSlugWithDomain}}">Insight</a>
  </li>
  <h1>Gemeente Stijns</h1>
  <li>
      <a href="https://parkeren-gemeente-stijns-{{.EnvironmentSlugWithDomain}}">Parkeervergunning applicatie</a>
  </li>
  <li>
      <a href="https://nlx-management-gemeente-stijns-{{.EnvironmentSlugWithDomain}}">NLX Management</a>
  </li>
  <h1>Rijksdienst voor Realistische Demo's</h1>
  <li>
    <a href="https://nlx-management-rvrd-{{.EnvironmentSlugWithDomain}}">NLX Management</a>
  </li>
  <h1>Vergunningsoftware BV</h1>
  <li>
      <a href="https://nlx-management-vgs-bv-{{.EnvironmentSlugWithDomain}}">NLX Management</a>
  </li>
</html>
