############
## Global ##
############
global:
  tls:
    organization:
      rootCertificatePEM: |
        # Subject: C=NL, ST=Noord-Holland, L=Amsterdam, O=Common Ground, OU=NLX
        # Issuer: C=NL, ST=Noord-Holland, L=Amsterdam, O=Common Ground, OU=NLX
        -----BEGIN CERTIFICATE-----
        MIIFjjCCA3agAwIBAgIUETfEQ3CBxDQoa7TxaXlDzNHOFbowDQYJKoZIhvcNAQEN
        BQAwXzELMAkGA1UEBhMCTkwxFjAUBgNVBAgTDU5vb3JkLUhvbGxhbmQxEjAQBgNV
        BAcTCUFtc3RlcmRhbTEWMBQGA1UEChMNQ29tbW9uIEdyb3VuZDEMMAoGA1UECxMD
        TkxYMB4XDTE4MDIyMzExMTkwMFoXDTIzMDIyMjExMTkwMFowXzELMAkGA1UEBhMC
        TkwxFjAUBgNVBAgTDU5vb3JkLUhvbGxhbmQxEjAQBgNVBAcTCUFtc3RlcmRhbTEW
        MBQGA1UEChMNQ29tbW9uIEdyb3VuZDEMMAoGA1UECxMDTkxYMIICIjANBgkqhkiG
        9w0BAQEFAAOCAg8AMIICCgKCAgEA1hyosh5cOJZTvclIayyjTXqQQmLwTXKy4Ub1
        4rRgctPUc9C4JsXRxg1TPTWSMY66f0WPWsrh+nRKrSvHh+dY7tdye9fKCbmM4CnT
        GQS9ckmHU9i8eUHzv53tjkfZuA5fiuoEcSHx9aaOu/8DVvhix0XGzK5LRUkz/iCY
        gNo1f/uXyel9B50je9La67xERfXtd8zN4vNryB/wQn4C6ERDW/npREM0Geapuo45
        FojXbtseEPiDe/6iQwPaS1rcQzJFTzStA31frxF8wPb30XuoCZimbm3gyQSuBn0u
        fSgclOH0tZUXeJIdPbs6fbTnWeAedItwIkAlnKF5UUrNg9hqVE6/tSPIvIHra1F0
        zrc/1UL9EMdp59vnO7viYIpzAs5sBEQU1wmxK+xU05iBj0LiMo5tX6eT6tem/n7q
        k8FIYt5Iy0kgMT6k7TmJ/H4dualEELffk/+ATXonSX8auipS1aUBUM2tpfn/kxFM
        m4CvCv5Gt2/3/M2DFH/EN+hCHldQYMbBoHlCFh3Co6s4rJf5Im0lSIu2R1dS5k5I
        Yq4m5qhzlUgoQptAywhp6PVhSLPb1iL0cU8wSHlA2v3Pr5zVgH5HNt0xcyh/mECY
        BIeNMnuIoHkg62t218YyTwioXjjDVRnxtzPOoGm52Zb9v0cmbzSf/mrcC2Gx9SOj
        9M3yzj8CAwEAAaNCMEAwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQFMAMBAf8w
        HQYDVR0OBBYEFFrgQVERh6zaaIfAAMMGXOJ5LYn9MA0GCSqGSIb3DQEBDQUAA4IC
        AQAER3nogPn9weENdFDM0WbXFmQEMdJc1rppKYqTYSj/SSLI6vGK6i/PgrSmGy6N
        9dgJnHPWvqffyfXISsZpUE0zWaMqrIHLvk+yxhhAFxYuLWIr7li8XE73dBfPS0An
        y76rTbYQJuglLtnCl3urOvuLubzEFKYkVp3esmQnx/2tiarnT7RZq4RUM+4qf4jg
        fJFJqxC7Yk1re88cOgW1VKuMkdKuFrHgd34qIn/haN3AuEcGwvMRXb1BrHuJuIsP
        +8fb8VwLHuAe8d0vVgn99Dh1lGzAMeDVzaZSYMZb/YnuZ2GYOzZAH9bA0LYdNYGg
        LpiGDkoJvWqPKZgC4C8ucy8H8meVp6koVRa1/Edm8rmEEvOE3xDZAGtHNg/NAedx
        RBp8u4ujHMdpBb2XO0R4djzIm0iRFa3AB0OwQP7/Oln3paJf5lh8EdEtCpGRxOGd
        XjA+LiNx9tWoi/wsE7xil02wwi7jgznJEf5U26WLhhmpP3/s24KOarJcXkUFvOgY
        AxBiKxa0IvQBkDWJb0OnP8SVpoltjKtNQOAGF7ngzHB0SkJlsAQspiTOBS1YeZ+4
        4rGOiVIygm2313ofR8kPSFVLEGyW73TkZdj9ZR8vQuGXjEqNVUd9GHWhft3142co
        vKZ0d7BYa5Tc7mjzUomFPYM8BQQQqClyABHXf0lMwRKn6Q==
        -----END CERTIFICATE-----

###########
## Chart ##
###########
ca:
  certificates:
    organization:
      commonName: inway.demo.gemeentestijns.nl
      dnsNames:
        - inway.demo.gemeentestijns.nl
managementAPI:
  serviceParkeerrechten:
    name: parkeerrechten
    endpointURL: http://gemeente-stijns-parkeerrechten-api:8000
    apiSpecificationURL: http://gemeente-stijns-parkeerrechten-api:8000/schema?format=openapi-json
    publicSupportContact: support@nlx.io
    documentationUrl: https://nlx.io
    inways:
      - gemeente-stijns-nlx-inway

################
## Sub-charts ##
################
nlx-outway:
  config:
    directoryInspectionHostname: directory-inspection-api.demo.nlx.io

nlx-management:
  config:
    directoryInspectionHostname: directory-inspection-api.demo.nlx.io
    directoryRegistrationHostname: directory-registration-api.demo.nlx.io
    oidc:
      clientSecret: J7VLST6DqlhFnrzKcpjKnfqr
      discoveryURL: https://dex.demo.gemeentestijns.nl
      redirectURL: https://management.demo.gemeentestijns.nl/oidc/callback
      sessionSignKey: wXDSJYQjSLCsigtnRCbBMWjnvEhHFdu4
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - management.demo.gemeentestijns.nl
    tls:
      - secretName: gemeentestijns-nlx-management-ingress-tls
        hosts:
          - management.demo.gemeentestijns.nl

dex:
  config:
    issuer: https://dex.demo.gemeentestijns.nl
    staticClients:
      - id: nlx-management
        name: NLX Management
        secret: J7VLST6DqlhFnrzKcpjKnfqr
        redirectURIs:
          - https://management.demo.gemeentestijns.nl/oidc/callback
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - dex.demo.gemeentestijns.nl
    tls:
      - secretName: gemeentestijns-dex-ingress-tls
        hosts:
          - dex.demo.gemeentestijns.nl

nlx-inway:
  config:
    selfAddress: inway.demo.gemeentestijns.nl:443
    directoryRegistrationHostname: directory-registration-api.demo.nlx.io
  service:
    type: LoadBalancer

parkeerrechten-api:
  enabled: true
  postgres:
    hostname: gemeente-stijns-postgresql
    database: parkeerrechten
    existingSecret:
      name: postgres.gemeente-stijns-postgresql.credentials.postgresql.acid.zalan.do

parkeerrechten-viewer:
  enabled: true
  parkeerrechtenApiBaseUrl: http://gemeente-stijns-nlx-outway/Gemeente%20Stijns/parkeerrechten/
  organizationName: "Gemeente Stijns"
  organizationLogo: https://gitlab.com/commonground/nlx/demo/-/raw/c75d67e8e0b631efdb0edec4df74b227483744c0/assets/stijns.svg
  organizationColor: "#ED7380"
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - parkeerrechten-viewer.demo.gemeentestijns.nl
    tls:
      - secretName: gemeentestijns-parkeerrechten-viewer-ingress-tls
        hosts:
          - parkeerrechten-viewer.demo.gemeentestijns.nl
