apiVersion: v1
kind: Service
metadata:
  name: {{ include "nlx-directory.fullname" . }}-inspection
  labels:
    {{- include "nlx-directory.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
  annotations: {{ .Values.service.inspection.annotations | toJson }}
spec:
  type: {{ .Values.service.type }}
  {{if .Values.service.inspection.loadBalancerIP}}
  loadBalancerIP: {{ .Values.service.inspection.loadBalancerIP }}
  {{end}}
  selector:
    {{- include "nlx-directory.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
  ports:
    - name: http
      port: {{ .Values.service.inspection.port }}
      targetPort: inspection
      protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "nlx-directory.fullname" . }}-inspection-plain
  labels:
    {{- include "nlx-directory.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  selector:
    {{- include "nlx-directory.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
  ports:
    - name: http
      port: {{ .Values.service.inspection.plainPort }}
      targetPort: inspectionplain
      protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "nlx-directory.fullname" . }}-registration
  labels:
    {{- include "nlx-directory.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
  annotations: {{ .Values.service.registration.annotations | toJson }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "nlx-directory.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
  ports:
    - name: http
      port: {{ .Values.service.registration.port }}
      targetPort: registration
      protocol: TCP
