global:
  imageRegistry: ""
  imageTag: ""

image:
  registry: docker.io
  repository: nlxio/ca-certportal
  tag: ""
  pullPolicy: IfNotPresent
  pullSecrets: []

replicaCount: 1

config:
  logType: live
  logLevel: info
  caHost: ""

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""
  annotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  class: ""
  annotations: {}
  hosts: []
  tls: []

resources: {}

nodeSelector: {}

affinity: {}

tolerations: []
